.demo-container {
}

.demo-text {
    width: 35vw;
}

.demo-row {
    margin-top: 60px;
}

.demo-icon {
    font-size: 96px;
    height: 96px;
    width: 96px;
    text-align: center;
}

.empty {
    height: 10vh;
}
