<div class="demo-container" fxLayout="column" fxLayoutAlign="start space-around">

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="" class="demo-row">
        <h1 fxFlex="">Feed</h1>
        <P fxFlex="" class="demo-text">The feed allows users to receive information they need instantly, without the
            need to request for
            it. It can also monitor progress, tasks, goals, errors, warnings, updates and let's you know when something
            changes to give a calm state of mind: there is no need to worry about forgetting something important, the
            feed will always be there!</P>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="" class="demo-row">
        <h1 fxFlex="">I'm live at: https://s3.amazonaws.com/feedprototype/</h1>
        <P fxFlex="" class="demo-text">Feel free to try me out right now, I even work on your phone! I also receive
            regular updates, so be sure to try again once in a while :)</P>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <mat-icon fxFlex="" class="demo-icon">notifications</mat-icon>
        <div fxFlex="">
            <h2>Instantly receive updates</h2>
            <p>
                Whenever another user finishes a task, a calculation finishes, new results are ready or new data is
                available you'll instantly receive an update right here in the feed!
            </p>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="" class="demo-row">
        <div fxFlex="">
            <h2>Progressive Web App</h2>
            <p>
                The Feed is installable and lives on the user's home screen, without the need for an app store. It
                offers an
                immersive full screen experience and can even re-engage users with web push notifications.
            </p>
        </div>
        <mat-icon fxFlex="" class="demo-icon">mobile_friendly</mat-icon>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <mat-icon fxFlex="" class="demo-icon">filter_list</mat-icon>
        <div fxFlex="">
            <h2>Only relevant data</h2>
            <p>
                We will only show information that's relevant to you! The feed is completely personalized for you and
                your role, if we ever show something that's not relevant you can let us know and we'll stop showing
                similar information.
            </p>
        </div>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <div fxFlex="">
            <h2>One feed to rule them all</h2>
            <p>
                All information from all our solutions and connected data sources are combined into a single feed, there
                is no need to constantly switch because we'll gather everything right here.
            </p>
        </div>
        <mat-icon fxFlex="" class="demo-icon">list_alt</mat-icon>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <mat-icon fxFlex="" class="demo-icon">track_changes</mat-icon>
        <div fxFlex="">
            <h2>Monitor progress</h2>
            <p>
                We'll monitor the progress of tasks and goals and automatically notify you if we're no longer on track
                or if certain goals are in danger. We'll even give you steps you might take to get back on track! All
                your colleagues will also receive updates automatically if they are falling behind, along with steps
                they might take to resolve any issues.
            </p>
        </div>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <div fxFlex="">
            <h2>Cards</h2>
            <p>
                The feed mainly consists of smart cards with actions with roughly the following categories: Results
                (charts), UpdatesProgress, Reminders, News, Warnings/Errors and Planning.
            </p>
        </div>
        <mat-icon fxFlex="" class="demo-icon">dashboard</mat-icon>
    </div>

    <div fxLayout="row" fxFlex="" class="demo-row">
        <mat-icon fxFlex="" class="demo-icon">person</mat-icon>
        <div fxFlex="">
            <h2>Assistant</h2>
            <p>
                The assistant manages your feed, allows you to interact with the feed and automatically provides updates
                and monitors progress. Feel free to ask the assistant for help!
            </p>
        </div>
    </div>

    <div class="empty" fxFlex=""></div>

</div>
