<mat-card class="card-feed__card">
    <mat-card-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
            <div class="card-feed__card__header--title" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-primary">new_releases</mat-icon>
                <span>{{data.title}}</span>
            </div>
            <div>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Pin to top</button>
                    <button mat-menu-item>Don't show again</button>
                    <button mat-menu-item (click)="data.dismiss()">Remove from feed</button>
                </mat-menu>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content>
        <p>{{data.description}}</p>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="video-wrapper">
                <iframe title="What's new video"
                        width="650"
                        height="400"
                        src="https://www.youtube.com/embed/LD9Oaj0B5Cc"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button class="mat-primary" mat-button *ngFor="let action of data.actions">{{action}}</button>
    </mat-card-actions>
</mat-card>
