.card-feed {
    margin: 16px auto;
    max-width: 1200px;
    padding: 0 32px;
}

/deep/ .card-feed__card {
    margin-bottom: 16px;
}

/deep/ .card-feed__card .mat-card-header-text {
    margin: 0;
}

/deep/ .card-feed__card .mat-card-header {
    margin-bottom: 16px;
}

/deep/ .card-feed__card__header--title mat-icon {
    margin-right: 4px;
}

.card-feed__assistant {
    padding: 16px;
}

.card-feed__assistant .search-input {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
}

.card-feed__assistant form .mat-raised-button {
    margin-left: 16px;
}

.card-feed__wrapper {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 164px;
}
