<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="home" routerLinkActive="active-link">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="feed" routerLinkActive="active-link">
                <mat-icon>rss_feed</mat-icon>
                <span matBadge="7" matBadgeOverlap="false" matBadgeColor="warn">Feed</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" routerLink="feed" fxLayoutAlign="start center">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>OF REM Feed</span>
            </div>
            <app-profile></app-profile>
        </mat-toolbar>

        <div [ngClass]="isOnFeed() ? '' : 'main-section'">
            <div [ngClass]="isOnFeed() ? '': 'main-wrapper'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
