<mat-card class="card-feed__card">
    <mat-card-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
            <div class="card-feed__card__header--title" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="mat-primary">flag</mat-icon>
                <span>{{data.title}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="due_days" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon *ngIf="data.daysLeft >= 0">timer</mat-icon>
                    <mat-icon *ngIf="data.daysLeft < 0" class="overdue">timer</mat-icon>
                    <span *ngIf="data.daysLeft >= 0">Due in {{data.daysLeft}} days</span>
                    <span *ngIf="data.daysLeft < 0" class="overdue">{{data.daysLeft * -1}} days overdue</span>
                </div>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Pin to top</button>
                    <button mat-menu-item>Don't show again</button>
                    <button mat-menu-item (click)="data.dismiss()">Remove from feed</button>
                </mat-menu>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content>
        <p>{{data.description}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button class="mat-primary" mat-button *ngFor="let action of data.actions">{{action}}</button>
    </mat-card-actions>
</mat-card>
